/* TP Finale: Programmation POO
    * Annee 2012/2014
    * Date de remise 18-05-2014
    * Feuille de style CSS (l'enssemble du document)
*/
html body{
    margin:0;
    padding:0;
    font-family:Arial;
    background-image: url(../pixel-bg.png);
    line-height:40px;
}
body > main > header{
    
    border-left:solid 1px #cccccc;
    border-right:solid 1px #cccccc;
    height:100px;
    margin-top:0;
}
body main {
    width:960px;
    margin:0 auto;
    margin-top:0;
    background-color:#F1F1F1;
    
}

body  header h1 {
    float:;
    padding-top:30px;
    padding-left:54px;
    color:#191970;
    font-weight:800;
}
h1 > span{
    color:#191970;
    margin-left:20px;
    font-size:18px;
    font-weight:normal;


}

form li{
    font-weight:600;
    font-size:18px;
    color:#1A87C2;
}

main > .content {
    width:auto;
    height:1500px;
    padding:20px;
    padding-bottom:50px;
    border:solid 1px #cccccc;
    
}
.content > h4{
    margin-left:05px;
}
ul{
    list-style-type:decimal; 
    margin:20px 30px;
    padding:5px; 
    color:midnightblue;
}
h2{
    list-style-type:decimal; 
    margin:20px 30px;
    padding:5px; 
    color:midnightblue;
    font-size:30px;
    font-weight:800;
    color:#0C537A;
    float:left;
}
.titre-quiz{
    width:550px;
    float:left;
    
}
header > a > .retour{
    float:left;
    width:200px;
    margin-top:30px;
    margin-left:50px;
    
}
header > a {
    text-decoration:none;
    text-align:center;
}
header > a > span:hover {
    color:#A6E22E;

}
input[type='submit'],.retour{
    margin-left:18px;
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    background-color:#007dc1;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
}
input[type='submit']:hover{
    background-color:#E1E1EF;
    color:orange;
}
form > li {
  box-shadow: none;  
  border-color: #bbb;  
  background-color: #ddd; 

}
ul{
    margin-top:05px;

}
.categorie{
    width:100%;
    float:left;
}
.categorie > .image-gd{
    width:39%;
    float:left;   
}
.categorie > .colonne{
    width:20%;
    float:left;
}
.categorie > .colonne > li{
    list-style-type:none;
}
.colonne > p{
    display:block;
    margin-top:0;
    margin-bottom:2%;
}


  
    